body {
	background-color: #3399CC;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

div {
	background-color: #989898;
	border-radius: 15px;
}

#compose {
	display: inline-block;
	vertical-align: top;
	width:380px;
	border: 3px solid black;
	padding: 20px 20px 20px 20px;
	margin-right: 40px;
}

#twitdisplay h2, textarea {
	display: inline-block;
	vertical-align: top;
}

#twitdisplay h2 {
	padding-right: 30px;
}

#submit {
	float: right;
}

#tweetlist {
	display: inline-block;
	border: 3px solid black;
	min-width: 600px;
	padding-left:30px;
	padding-right:30px;
}

#tweetlist h1 {
	border-bottom: 3px solid black;
}

a {
	color: #00B7FF;
}